# MYSQL
MSQL_DB=${MSQL_DB}
MSQL_USER=${MSQL_USER}
MSQL_PASSWORD=${MSQL_PASSWORD}
MSQL_PORT=${MSQL_PORT}
MSQL_HOST=localhost

# Token
SECRET_ACCESSTOKEN=${SECRET_ACCESSTOKEN}
SECRET_REFRESHTOKEN=${SECRET_REFRESHTOKEN}

# Sendgrid (email sender)
API_KEY_SENDGRID=
EMAIL_OF_COMPANY=

# FrontEnd
FRONTEND_HOST=